POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=shopdb
POSTGRES_USER=cdc_user
POSTGRES_PASSWORD=cdc_password

REDPANDA_BROKERS=localhost:9092
DEBEZIUM_URL=http://localhost:8083

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=cdc_analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

STREAMLIT_SERVER_PORT=8501
